/* 
    CSS is divided in 3 section. 
    Top, Mid and bottom. 
    top being mostly the heading
    Mid contains the main sections and important section
    Low is for the footer
    same goes for the devices with less than 650px


    Mainly consists of main pages such as Home, Services and About us
*/
/* Top Section */
* {
    box-sizing: border-box;
}

body {
    background-color: #FDB750;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow', Arial;
}

header {
    background-color: black;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo {
    font-size: 24px;
    font-family: sans-serif;
    color: white;
}

#logo-button {
    background-color: transparent;
    border: none;
}

#logo-button:hover {
    transition: 0.5s;
    background-color: #FC2E20;
    border-radius: 10px;
}

#nav-links .logo-image {
    width: 15px;
    height: auto;
}


#menu-toggle {
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Hidden by default */
}

#nav-links {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.5s;
    border-radius: 10px;
    overflow: hidden;
}

nav a:hover {
    background-color: #FC2E20;
    color: black;
    border-radius: 10px;
}


#current {
    background-color: #FC2E20;
}

#current .logo-image {
    filter: grayscale(100) brightness(0);
}

/* Main */


main {
    margin: 0px;
    padding-bottom: 60px;
}

h1, h2, h3 {
    text-align: center;
}

h3 {
    color: white;
    text-decoration: underline;
}

#h2-align {
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
    text-shadow: 0 0 5px black;
}

#hero{
    background-image: url('images/sun.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    padding: 150px;
    width: 100%;
    height: auto;
    border-bottom: 5px solid #FC2E20;
}

.main-title {
    color: white;
    margin:0px;
    font-size: 5dvw;
    text-shadow: 0 0 5px black;
    text-align: center;
}


#hero h2 {
    text-align: center;
    text-shadow: 0 0 5px white;
    font-style: italic;
}


.home-buttons {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;
    background-color: #FC2E20;
    border-color: transparent;
    border-radius: 10px;
    padding: 20px 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.home-buttons:hover{
    background-color: orange;
    transition: 0.3s;
}

.home-section {
    display: flex;
    justify-content: space-between;
}

.home-section div {
    background-color: #FD7F20;
    padding: 20px 20px;
    margin: 10px;
    border-radius: 10px;
}

.home-section div:hover {
    transform: scale(1.05);
    transition: 0.4s;
}



/* Services Section */
.main-container-services {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
}

.cards {
    margin-left: auto;
    margin-right: 20px;
}

.cards:nth-child(even) {
    margin-left: 20px;
    margin-right: auto;
}

.card {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    text-align: left;
    background-color: #FD7F20;
    width: 30vw;
    max-width: 400px;
}

.card img {
    width: 100%;
    height: 25vh;
    border-bottom: 3px solid white;
}

.card p {
    padding: 10px;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

#calc-logo {
    width: 2vw;
    height: 2vh;
}

#calc-button {
    display: block;
    justify-content: center;
    background-color: #FC2E20;
    border-color: transparent;
    border-radius: 10px;
    padding: 20px 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


#calc-button a{
    text-decoration: none;
    padding: 10px 10px;
    color:white;
}

#calc-button:hover {
    background-color: black;
    color: white;
}

.buttons-animation {
    display: flex;
    justify-content: space-between;
}

.ani-button {
    background-color: #FC2E20;
    border: none;
    padding: 20px 20px;
    border-radius: 10px;
}

.ani-button:hover {
    background-color: orange;
    transform: scale(1.05);
    transition: 0.3s;
}

.card {
    display: none;
}


.avail:after {
    background-color: orange;
}

/* About us section */

.tab {
    float: left;
    background-color: black;
    width: 30%;
    height: 400px;
}

.tab button {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
}

.tab button:hover{
    background-color: orange;
}

.tab button.active {
    background-color: #FC2E20;
}

/* Tab content made hidden*/
.tab-info {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 400px;
    text-align: center;
}


/* Footer */
footer {
    margin-top: 30px;
    background-color: black;
    color: white;
    position: fixed;
    padding: 10px;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.home-footer {
    position: relative;
    bottom: 0;
}

/* Used for devices with less screen width mainly phones
    and to make the website more responsive*/

/* Specific to tablets where the screen size may be belwo 910px */
@media only screen and (max-width: 910px) {
    #nav-links .logo-image {
        display: none;
    }
}

/* Specific to phones below screen size of 650px */
@media only screen and (max-width: 650px) {

    /* TOP SECTION */
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav .top-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #menu-toggle {
        display: block; /* Show hamburger button */
        float: right;
    }

    #nav-links {
        display: none; /* Hide links initially */
        flex-direction: column;
        gap: 0; /* Remove space between links */
        width: 100%; /* Full width */
        background-color: black; /* Match header color */
    }

    #nav-links a {
        padding: 15px;
        border-bottom: 1px solid #D4F1F4; /* Optional: separators */
    }

    #nav-links.show {
        display: flex; /* Show links when toggled */
    }

    .logo-image {
        display: none;
    }

    /* MIDDLE SECTION */

    main section {
        flex-direction: column;
        align-items: flex-start;

    }

    #hero {
        height: 30vh;
        padding: 20px;
        text-align: center;
    }

    .main-title {
        font-size: 1.5vw;
        padding-top: 20px;
    }

    #hero h2 {
        font-size: 2vh;
    }

    .home-section div {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    main section div {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    main section div img {
        width: 100%;
        height: 20vh;
        border-bottom: 2px solid white;
    }

    .main-title {
        font-size: 6.5vw;
    }
    
    .main-container-services {
        margin: 10px;
    }

    .card {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .ani-button{
        width: 20vh;
        border: none;
        border-radius: 0px;
    }

    .tab {
        display: block;
    }

    .tab button {
        height: 58.5%;
    }

}

